<footer class="footer-main">
    
            <p class="extra">
    PGP Keys: 
    <a href="https://keys.openpgp.org/search?q=8D1F06E6CC48A74378E95C6C470EA173BCC5ED62" target="_blank" rel="noopener noreferrer">ECC (Curve25519)</a>, 
    <a href="https://keys.openpgp.org/search?q=A3AC657134F532AA776D71C1FAA88A0BDA73D358" target="_blank" rel="noopener noreferrer">RSA (4096)</a>
    </p>
    
    {{ site.title }} © {{ site.time | date: '%Y' }}

<!--     <a class="link" href="{{ site.url }}/feed.xml" target="_blank" alt="anchor link to rss feed" aria-label="anchor link to rss feed">
        <i class="fa-solid fa-rss"></i>
    </a> -->

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
</footer>
